// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash{
  color: white;
  padding-top: 10px;
}


.container{
  width:100%;
  margin-right: -150px;
  margin-left: 200px;
}

.row{
  margin-right: -150px;
}

.table{
    margin-right: -500px;
}

